<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">
    
    <hr />
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <a routerLink="compose" class="btn btn-danger btn-sm btn-block float-left" role="button">COMPOSE</a>
            <hr />
            <ul class="nav nav-pills nav-stacked">
                <li class="btn"><a routerLink="inbox"><span class="badge pull-right"></span> Inbox </a>
                </li>
            
                <li class="btn"><a routerLink="sent-mail"><span class="badge pull-right"></span>Sent Mail</a></li>
                <li class="btn"><a routerLink="drafts"><span class="badge pull-right"></span>Drafts</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
            
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- <div class="tab-pane fade in active" id="home">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            
                        </a>
                    </div>
                </div> -->
                <div class="tab-pane fade in" id="profile">
                    <div class="list-group">
                        <div class="list-group-item">
                            <span class="text-center">This tab is empty.</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="messages">
                    ...</div>
                <div class="tab-pane fade in" id="settings">
                    This tab is empty.</div>
            </div>
           
        </div>
    </div>
</div>
</body>