<div class="col-md-4 offset-4 mt-5 card card-body">
    <input class="form-control" type="search" placeholder="search" name="search"[(ngModel)]='search'>
  </div>
  <div style="background:gainsboro">
      <div class="card  text-black">
        <div class="card-img-overlay">
          <div class="container">
            <div class="row">
              <div class="col">
    
                <div class="container ">
                  <table class="table table-bordered table-striped table-dark table-hover mt-2 mb-5 col-md-10 offset-1 " style="border-style: solid; border-width: 1px;">
                    <thead class="thead-dark">
                      <tr class="text-center text-light">
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Category</th>
                        <th>Product Company</th>
                        <th>Quantity</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-light" *ngFor='let product of products | filterbyname: search ' >
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.company}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.price}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
