<div class="modal-body">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-2 control-label">To</label>
            <div class="col-lg-10">
                <input type="text" placeholder="" id="inputEmail1" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Cc / Bcc</label>
            <div class="col-lg-10">
                <input type="text" placeholder="" id="cc" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Subject</label>
            <div class="col-lg-10">
                <input type="text" placeholder="" id="inputPassword1" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Message</label>
            <div class="col-lg-10">
                <textarea rows="10" cols="30" class="form-control" id="" name=""></textarea>
            </div>
        </div>

        <div class="form-group">
           
               
                <button class="btn btn-dark float right" type="submit">Send</button>
                <button class="btn btn-dark float left" type="submit">Save As Draft</button>
            
        </div>
    </form>
</div>