<form class="col-md-4 offset-4 mt-5 card card-body" #form="ngForm" (ngSubmit)="addProduct(form)">
    <div class="card-header">
        <h3 style="color:fuchsia">Add Products</h3>
    </div>
    <div class="form-group">
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter Product Name"
        pattern="[A-Za-z]{3,}" title="Name should not contain any digits" #name="ngModel" ngModel required>
        <div *ngIf="name.touched && name.invalid">
            <p class="alert alert-danger" *ngIf="name.errors.required">*This field is required</p>
        </div>
        <div *ngIf="name.errors?.pattern && name.touched">
            <p class="alert alert-danger">*It should not contain any digits</p>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="category" id="category" class="form-control" placeholder="Enter Category"
        pattern="[A-Za-z]{3,}" title="It should not contain any digits" #category="ngModel" ngModel required>
        <div *ngIf="category.touched && category.invalid">
            <p class="alert alert-danger" *ngIf="category.errors.required">*This field is required</p>
        </div>
        <div *ngIf="category.errors?.pattern && category.touched">
            <p class="alert alert-danger">*It should not contain any digits</p>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="company" id="company" class="form-control" placeholder="Enter Company Name"
        pattern="[A-Za-z]{3,}" title="It should not contain any digits" #company="ngModel" ngModel required>
        <div *ngIf="company.touched && company.invalid">
            <p class="alert alert-danger" *ngIf="company.errors.required">*This field is required</p>
        </div>
        <div *ngIf="company.errors?.pattern && company.touched">
            <p class="alert alert-danger">*It should not contain any digits</p>
        </div>
    </div>
    <div class="form-group">
        <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Enter Quantity"
        pattern="[0-9]" title="It should not contain any letters and -ve numbers"  #quantity="ngModel" ngModel required>
        <div *ngIf="quantity.touched && quantity.invalid">
            <p class="alert alert-danger" *ngIf="quantity.errors.required">*This field is required</p>
        </div>
        <div *ngIf="quantity.errors?.pattern && quantity.touched">
            <p class="alert alert-danger">*It should not contain any letters and -ve numbers</p>
        </div>
    </div>
    <div class="form-group">
        <input type="number" name="price" id="price" class="form-control" placeholder="Enter Price"
        pattern="[0-9]" title="It should not contain any letters and -ve numbers"  #price="ngModel" ngModel required>
        <div *ngIf="price.touched && price.invalid">
            <p class="alert alert-danger" *ngIf="price.errors.required">*This field is required</p>
        </div>
        <div *ngIf="price.errors?.pattern && price.touched">
            <p class="alert alert-danger">*It should not contain any letters and -ve numbers</p>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">Add product</button>
    </div>
</form>
